@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #2A363F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
}

.divider {
    width: 30vw;
    height: 2px;
    background-color: #FFFFFF;
    margin: 10px 0 10px 0;
}

.question-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    height: 100vh;
}

.main-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.question-input {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.input-field {
    background-color: transparent;
    border: 1px solid #6ED9A0;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
    outline: none;
    width: 100%; /* Make it take up full width of its container */
    min-width: 50vw;
    margin: 0 auto; /* Ensure the input field is centered */
}

.conversation-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.card {
    background-color: #3A474D;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .conversation-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .conversation-cards {
        grid-template-columns: 1fr;
    }

    .input-field {
        font-size: 1rem;
    }
}

.header .title {
    font-size: 3rem;
}

@media (max-width: 480px) {
    .header .title {
        font-size: 1.5rem;
    }

    .input-field {
        padding: 10px;
    }
}
